# Byte-compiled
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/

# PyCharm
.idea/

# Test & build artifacts
*.egg-info/
dist/
build/
.coverage
.pytest_cache/
AQUATOX docs/
Lake Pyhajarvi Finland_regression.txt
exports/
*.csv
*.xlsx
*.xls
*.pdf
*.xml
AQUATOX Users Manual.html
AQUATOX Users Manual_files/
foodweb*.xls
foodweb*.xlsx
